 <!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Your FourSquare data is being downloaded and will display on your profile page once downloading has completed.</h2>
        </div>
    </main>
    
</body>
</html>