<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            
            <h1><%= statement %></h1>

            <% if(users.length > 0) { %>

                <h2>View pages of users:</h2>

                <ul>

                    <% users.forEach(function(user) { %>

            	       <li> <a href="/profiles/<%= user.username %>"> <%= user.username %> </a> </li>

                    <% }); %>

                </ul>

            <% } %>

        </div>
    </main>
    
</body>
</html>