 <!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Login or Register</h2>
            <p>If you don't already have an account, a new account will be automatically created</p>
            <form action="/api/users" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <br>
                <br>
                <input type="submit" value="  Login  ">
            </form>
        </div>
    </main>
    
</body>
</html>