<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is <%= name %> profile</h1>
            <br>

            <!-- Link shows up if it's the person is viewing their own profile and they don't have an FS access token -->
            <% if(link) { %>
            <h2> <a href="<%= link %>">Click here to import your data from FourSquare</a> </h2>
            <% } %>
            
            <!-- Checkins - own profile and have access token -->
            <% if(checkins) { %>

                <h2>Your recent check-ins:</h2>

                <ul>

                    <% checkins.forEach(function(checkin) { %>

                       <li> <%= checkin.venue.name %> in <%= checkin.venue.location.city %> </li>

                    <% }); %>

                </ul>

            <% } %>


        </div>
    </main>
    
</body>
</html>