<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is <%= name %> profile</h1>
            <br>
            <% if(link) { %>
            <h2> <a href="<%= link %>">Click here to import your data from FourSquare</a> </h2>
            <% } %>
        </div>
    </main>
    
</body>
</html>